@{
    ViewBag.Title = "About";
}
<body>

    <div class="loader"></div>
    <div id="myDiv">

        <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="service-title pad-bt15">About project and us</h2>
                        <p class="sub-title pad-bt15">Team of Three<br>A project to explore work life balance</p>
                        <hr class="bottom-line">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                        <figure>
                            <img src="/img/port01.jpg" class="img-responsive">
                            <figcaption>
                                <h2>Chaoyu Xiang</h2>
                                <p>From Los Angeles</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                        <figure>
                            <img src="/img/port02.jpg" class="img-responsive">
                            <figcaption>
                                <h2>Yang Zhou</h2>
                                <p>From New York City</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                        <figure>
                            <img src="/img/port03.jpg" class="img-responsive">
                            <figcaption>
                                <h2>Wenwen Zhang</h2>
                                <p>From Chicago</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                        <figure>
                            <img src="/img/port04.jpg" class="img-responsive">
                            <figcaption>
                                <h2>Project For Everyone</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                        <figure>
                            <img src="/img/port05.jpg" class="img-responsive">
                            <figcaption>
                                <h2>Project For Everyone</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
                        <figure>
                            <img src="/img/port06.jpg" class="img-responsive">
                            <figcaption>
                                <h2>Project For Everyone</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nost.</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </section>
        <!---->
        <!---->
        <section id="testimonial" class="wow fadeInUp delay-05s">
            <div class="bg-testicolor">
                <div class="container section-padding">
                    <div class="row">
                        <div class="testimonial-item">
                            <ul class="bxslider">
                                <li>
                                    <blockquote>
                                        <img src="/img/thumb.png" class="img-responsive">
                                        <p>Come a day there won't be room for naughty men like us to slip about at all. This job goes south, there well may not be another. </p>
                                    </blockquote>
                                    <small>Shaun Paul, Client</small>
                                </li>
                                <li>
                                    <blockquote>
                                        <img src="/img/thumb.png" class="img-responsive">
                                        <p>So here is us, on the raggedy edge. Don't push me, and I won't push you. </p>
                                    </blockquote>
                                    <small>Marry Smith, Client</small>
                                </li>
                                <li>
                                    <blockquote>
                                        <img src="/img/thumb.png" class="img-responsive">
                                        <p>Come a day there won't be room for naughty men like us to slip about at all. This job goes south, there well may not be another.</p>
                                    </blockquote>
                                    <small>Vivek Singh, Client</small>
                                </li>
                                <li>
                                    <blockquote>
                                        <img src="/img/thumb.png" class="img-responsive">
                                        <p>So here is us, on the raggedy edge. Don't push me, and I won't push you.</p>
                                    </blockquote>
                                    <small>John Doe, Client</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---->
       
        <!---->
        <!---->
        <footer id="footer">
            <div class="container">
                <div class="row text-center">
                    <p>&copy; Baker Theme. All Rights Reserved.</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Baker
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </footer>
        <!---->
    </div>


</body>
</html>
