@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">



<body>

    <div class="loader"></div>
    <div id="myDiv">
        <!--HEADER-->
        <div class="header">
            <div class="bg-color">

                <div class="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="banner-info text-center wow fadeIn delay-05s">
                                <h1 class="bnr-title">ISEM <span>551</span></h1>
                                <h2 class="bnr-sub-title">Project One</h2>
                                <p class="bnr-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip <br>ex ea commodo consequat.</p>
                                <div class="brn-btn">
                                    <a href="#" class="btn btn-download">Surprise Me!</a>
                                    <a href="#" class="btn btn-more">Learn More</a>
                                </div>
                                <div class="overlay-detail">
                                    <a href="#feature"><i class="fa fa-angle-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ HEADER-->
        <!---->
        <section id="feature" class="section-padding wow fadeIn delay-05s">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="item-img">
                                <img src="/img/ser01.png">
                            </div>
                            <h3 class="pad-bt15">Creative Concept</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="item-img">
                                <img src="/img/ser02.png">
                            </div>
                            <h3 class="pad-bt15">Amazing Design</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="item-img">
                                <img src="/img/ser03.png">
                            </div>
                            <h3 class="pad-bt15">Cost effective</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="wrap-item text-center">
                            <div class="item-img">
                                <img src="/img/ser04.png">
                            </div>
                            <h3 class="pad-bt15">Secure</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---->
        <!---->
        <section id="blog" class="section-padding wow fadeInUp delay-05s">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="service-title pad-bt15">Latest from our blog</h2>
                        <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p>
                        <hr class="bottom-line">
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog-sec">
                            <div class="blog-img">
                                <a href="">
                                    <img src="/img/blog01.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="blog-info">
                                <h2>This is Lorem ipsum heading.</h2>
                                <div class="blog-comment">
                                    <p>Posted In: <span>Legal Advice</span></p>
                                    <p>
                                        <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                                        <span><a href="#"><i class="fa fa-eye"></i></a> 11</span>
                                    </p>
                                </div>
                                <p>We cannot expect people to have respect for laws and orders until we teach respect to those we have entrusted to enforce those laws all the time. we always want to help people cordially.</p>
                                <a href="" class="read-more">Read more →</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog-sec">
                            <div class="blog-img">
                                <a href="">
                                    <img src="/img/" class="img-responsive">
                                </a>
                            </div>
                            <div class="blog-info">
                                <h2>This is Lorem ipsum heading.</h2>
                                <div class="blog-comment">
                                    <p>Posted In: <span>Legal Advice</span></p>
                                    <p>
                                        <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                                        <span><a href="#"><i class="fa fa-eye"></i></a> 11</span>
                                    </p>
                                </div>
                                <p>We cannot expect people to have respect for laws and orders until we teach respect to those we have entrusted to enforce those laws all the time. we always want to help people cordially.</p>
                                <a href="" class="read-more">Read more →</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="blog-sec">
                            <div class="blog-img">
                                <a href="">
                                    <img src="/img/blog03.jpg" class="img-responsive">
                                </a>
                            </div>
                            <div class="blog-info">
                                <h2>This is Lorem ipsum heading.</h2>
                                <div class="blog-comment">
                                    <p>Posted In: <span>Legal Advice</span></p>
                                    <p>
                                        <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                                        <span><a href="#"><i class="fa fa-eye"></i></a> 11</span>
                                    </p>
                                </div>
                                <p>We cannot expect people to have respect for laws and orders until we teach respect to those we have entrusted to enforce those laws all the time. we always want to help people cordially.</p>
                                <a href="" class="read-more">Read more →</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!---->

        <!---->
        <footer id="footer">
            <div class="container">
                <div class="row text-center">
                    <p>&copy; Baker Theme. All Rights Reserved.</p>
                    <div class="credits">
                        <!--
                          All the links in the footer should remain intact.
                          You can delete the links only if you purchased the pro version.
                          Licensing information: https://bootstrapmade.com/license/
                          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Baker
                        -->
                        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
            </div>
        </footer>
        <!---->
    </div>


</body>
</html>
