@{
    ViewBag.Title = "Team Member";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<div>
    <br />
    Wenwen Zhang from Chicago<br />
    <br />
    Yang Zhou from New York City <br />
    <br />
    Chaoyu Xiang from Los Angeles <br />
    <br />

</div>
