@{
    ViewBag.Title = "Team Member";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<teamMember>

    Wenwen Zhang from Chicago<br />
    <br />
    Yang Zhou from New York City <br />
    <br />
    Chaoyu Xiang from Los Angeles <br />
    
    <be />

</teamMember>
